
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #15272e;
    margin: 0;
}

.kalkulator {
    width: 500px;
    background-color: #264653;
    border-radius: 10px;
    padding: 20px;
}

#ekran {
    width: 100%;
    height: 50px;
    background-color: #222;
    border: none;
    color: #fff;
    font-size: 24px;
    text-align: right;
    padding-right: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.przyciski {
    display: grid;
    grid: repeat(4, 1fr);
    gap: 15px;
}

button {
    width: 100%;
    height: 60px;
    font-size: 18px;
    color: #fff;
    background-color: #e9c46a;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.operacja{
    background-color: #f4a261;
}

.rownosc{
    background-color: #e76f51;
    margin-top: 15px;
}

.czyszczenie{
    background-color: #dd5a43;
}


